<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="anchor" contents="Taeyun Lee, Mingi Kim" />
    <meta name="keywords" contents="music,streaming,love,happy,campus,atte,alba,beautiful,coffee,please" />
    <meta name="description" contents="great music streaming service" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>{% block title %}아름다운 아떼{% endblock %}</title>
    {% block script %}{% endblock %}
    <script type="text/javascript" src="http://cheyuni.net/static/atte/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://cheyuni.net/static/atte/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://cheyuni.net/static/atte/js/csrf.js"></script>
    <script type="text/javascript" src="http://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="http://cheyuni.net/static/common.js"></script>
		<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="http://cheyuni.net/static/atte/js/youtube.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-43970277-1', 'cheyuni.net');
			ga('send', 'pageview');
		</script>


    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="http://cheyuni.net/static/atte/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://cheyuni.net/static/atte/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cheyuni.net/static/atte/css/atte.style.css" />
    <link rel="stylesheet" type="text/css" href="http://cheyuni.net/static/atte/css/jquery.toastmessage.css" />


  </head>
<script>
  // This is called with the results from from FB.getLoginStatus().
  // function statusChangeCallback(response) {
  //   console.log('statusChangeCallback');
  //   console.log(response);
  //   // The response object is returned with a status field that lets the
  //   // app know the current login status of the person.
  //   // Full docs on the response object can be found in the documentation
  //   // for FB.getLoginStatus().
  //   if (response.status === 'connected') {
  //     // Logged into your app and Facebook.
  //     testAPI();
  //   } else if (response.status === 'not_authorized') {
  //     // The person is logged into Facebook, but not your app.
  //     document.getElementById('status').innerHTML = 'Please log ' +
  //       'into this app.';
  //   } else {
  //     // The person is not logged into Facebook, so we're not sure if
  //     // they are logged into this app or not.
  //     document.getElementById('status').innerHTML = 'Please log ' +
  //       'into Facebook.';
  //   }
  // }

  // // This function is called when someone finishes with the Login
  // // Button.  See the onlogin handler attached to it in the sample
  // // code below.
  // function checkLoginState() {
  //   FB.getLoginStatus(function(response) {
  //     statusChangeCallback(response);
  //   });
  // }

  // window.fbAsyncInit = function() {
  // FB.init({
  //   appId      : '525170764238004',
  //   cookie     : true,  // enable cookies to allow the server to access
  //                       // the session
  //   xfbml      : true,  // parse social plugins on this page
  //   version    : 'v2.0' // use version 2.0
  // });

  // // Now that we've initialized the JavaScript SDK, we call
  // // FB.getLoginStatus().  This function gets the state of the
  // // person visiting this page and can return one of three states to
  // // the callback you provide.  They can be:
  // //
  // // 1. Logged into your app ('connected')
  // // 2. Logged into Facebook, but not your app ('not_authorized')
  // // 3. Not logged into Facebook and can't tell if they are logged into
  // //    your app or not.
  // //
  // // These three cases are handled in the callback function.

  // FB.getLoginStatus(function(response) {
  //   statusChangeCallback(response);
  // });

  // };

  // // Load the SDK asynchronously
  // (function(d, s, id) {
  //   var js, fjs = d.getElementsByTagName(s)[0];
  //   if (d.getElementById(id)) return;
  //   js = d.createElement(s); js.id = id;
  //   js.src = "//connect.facebook.net/en_US/sdk.js";
  //   fjs.parentNode.insertBefore(js, fjs);
  // }(document, 'script', 'facebook-jssdk'));

  // // Here we run a very simple test of the Graph API after login is
  // // successful.  See statusChangeCallback() for when this call is made.
  // function testAPI() {
  //   console.log('Welcome!  Fetching your information.... ');
  //   FB.api('/me', function(response) {
  //     console.log('Good to see you, ' + response.name + '.');
  //     document.getElementById('status').innerHTML = 'Good to see you, ' +
  //       response.name;
  //   });
  // }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

  <body id="atte">
		<div id="header">
			<h1><a href="/"><img src="http://cheyuni.net/static/atte/images/Atte_Logo.png" alt="Atte project title"/><!-- Proejct Atte --></a></h1>
		</div>
		<div id="container" class="container">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<div id="footer_box">
				<span class="glyphicon glyphicon-search"></span>
				<p style="padding-top:20px;">Copyright 2013 by Atte. All rights reserved.</p>
			</div>
		</div>

  </body>
</html>
